body{
font-family: Arial;
background:#f4f4f4;
margin:0;
}

header{
background:#222;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

section{
padding:40px;
}

footer{
background:#222;
color:white;
text-align:center;
padding:10px;
}
